/02 AbstractFactory/nbproject/private/
/02 AbstractFactory/build/
/03 Composite/nbproject/private/
/03 Composite/build/
/04 Observer/Observer/nbproject/private/
/04 Observer/Observer/build/
/05 Singleton/nbproject/private/
/05 Singleton/build/
/06 Decorator/nbproject/private/
/06 Decorator/build/
/07 State/nbproject/private/
/07 State/build/
/08 Template Method/nbproject/private/
/08 Template Method/build/
/10 ChainOfResponsibility/nbproject/private/
/10 ChainOfResponsibility/build/
/11 Memento/nbproject/private/
/11 Memento/build/
/12 Proxy/nbproject/private/
/12 Proxy/build/
/13 Visitor/nbproject/private/
/13 Visitor/build/
/14 Builder/nbproject/private/
/14 Builder/build/
/15 Adapter/nbproject/private/
/15 Adapter/build/